body {
  background-color: #000000;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.wrap {
  height: 220px;
  width: 220px;  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.square {
  width: 20px;
  height: 20px;
  margin: 2px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 50%;
}